@page "/"
@using BlazorApp.Services
@using DTOs
@inject HttpUserService UserService
@rendermode InteractiveServer
<PageTitle>User</PageTitle>

<h1>Welcome to the user page.</h1>

<label for="username">Username:</label>
<input type="text" id="username" @bind="username"/>

<label for="password">Password:</label>
<input type="text" id="password" @bind="password"/>

<button class="btn btn-primary"  @onclick="AddUser">Add User</button>


@code
{
   private string username { get; set; }
   private string password { get; set; }

   public async void AddUser()
   {
      CreateUserDto user = new CreateUserDto
      {
         UserName = username,
         Password = password
      };
      await this.UserService.AddUserAsync(user);
   }
}
